exportPattern("^[[:alpha:]]+")
import(Matrix)
import(Rcpp)
import(lsa)
import(umap)
import(Rtsne)
import(ggplot2)
import(dplyr)
import(cowplot)
import(ComplexHeatmap)
import(circlize)
useDynLib(scCNMF, .registration = TRUE)
export(eigenMapMatMult)
export(eigenMapMatcrossprod)
export(eigenMapMattcrossprod)
export(readRawData)
export(Normlize)
export(ZscoreNormalize)
export(TFIDFtrans)
export(scCNMFmodel)
export(scClustering)
export(ClusteringVisual)
export(Themeopts)
export(scPalette)
export(FactorVisual)
export(FeatureRank)
export(ClusterMarkers)
export(LRtest)
export(FeatureHeatmap)
