exportPattern("^[[:alpha:]]+")
import(Matrix)
import(Rcpp)
import(lsa)
import(umap)
import(Rtsne)
import(ggplot2)
import(dplyr)
import(cowplot)
import(ComplexHeatmap)
import(circlize)
useDynLib(ccNMF, .registration = TRUE)
export(DifferentialLRT)
export(Fold_RE_TG_multiAdjust)
export(Jaccard_result)
export(Normlize)
export(Simbased_clustering)
export(TFIDF_trans)
export(bimoddata)
export(ccNMFmodel)
export(cluster_markers)
export(clustering)
export(crossprodcpp)
export(eigenMapMatMult)
export(eigenMapMatcrossprod)
export(eigenMapMattcrossprod)
export(feature_heatmap)
export(feature_rank)
export(feature_score_visual)
export(jaccard_matrix)
export(metanet)
export(neighbor_default)
export(readRawData)
export(scPalette)
export(theme_opts)
export(tidyresult)
export(z_score_normalize)
